@font-face {
    src: url(fonts/cat_paw-webfont.woff);
    font-family: 'Cat Paw';
}

body {
    display: flex;
    background-image: url(images/cat-chemex.jpg);
    background-size: cover;
    background-position: right 200px top 0px;
}

html,body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Cat Paw', sans-serif;
    font-weight: normal;
    font-size: 200px;
    color: white;
    width: 90%;
}

.logo-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 56px;
}

.logo h1 {
    text-align: center;
    font-size: 3.5vw;
    width: 85%;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.logo img {
    fill: blue;
    height: 15%;
    width: 15%;
    flex-basis: auto;
    text-align: center;
    stroke-width: 1;
    flex-shrink: 10;
    flex-grow: 1;
}

.signup-body {
    float: right;
    background-color:#fafafa;
    width: 60%;
    height: 100vh;
    margin: -10 -10 -10 -10;
    display: flex; 
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    min-width: 750px;
}

.signup-text {
    padding-top: 48px;
}

.text {
   padding-left: 36px;
   padding-right: 60px;
   max-width: 75ch; 
   font-family: system-ui, sans-serif;
   color: #29271b;
   font-size: 1.5rem;
}

form {
    margin: -5 auto;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    background-color: white;
    box-shadow: 0 0 10px #c1c1c1;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 48px;
    min-width: 750px;
}

.form-row {
    display: flex;
    gap: 24px;
    padding-left: 36px;
    padding-bottom: 24px;
    justify-content: flex-start;
    gap: 36px;
}

label {
   font-family: system-ui, sans-serif;
   font-weight: 700;
   font-size: 1rem; 
   font-kerning: normal;
   text-transform: uppercase;
   color: #6f5d51;
}

input {
    display: block;
    width: 100%;
    border: 2px black solid;
    border-radius: 4px;
    padding: 10px;
}

input:invalid:not(:placeholder-shown) {
    border: 2px red solid;
    background-image: url(images/red-x.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}

input:valid:not(:placeholder-shown) {
    border: 2px green solid;
    background-image: url(images/green-check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}

button {
    background-color: black;
    color: white;
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin-top: 24px;
    width: 25%;
    box-shadow: 5px 5px;
}

button:hover {
    background-color: #6f5d51;  
}

a {
    font-weight: bold;
    color: #6f5d51;
    text-decoration: none;
}

.link {
    font-size: 1rem;
    font-family: system-ui, sans-serif;
    text-align: left;
    width: 100%;
}

a:hover {
    color: #a18674;
}

.credits {
    text-align: center;
    font-family: system-ui, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    background-color: #fafafa;
}